.DS_Store
*.egg-info/
dist
.vscode
.venv
.mypy_cache
sphinx/manual/build
sphinx/manual/jupyter_execute
examples/_build/
sphinx/manual/jupyter_execute
sphinx/examples/_build/
*.ipynb_checkpoints
sphinx/build/jupyter_execute/
sphinx/build/examples/_build/
sphinx/build/
sphinx/jupyter_execute
sphinx/.jupyter_cache
c.quip
c.qasm
c.tex
conf.py
.quip
_static